extends layout

block content
  h1 #{release.name}

  p #[strong Artist:] #{release.artist}
  p #[strong Description:] #{release.description}
  p #[strong Price:] #{release.price}
  p #[strong Number In Stock:] #{release.number_in_stock}

  p #[strong Genre:] #[a(href=release.genre.url) #{release.genre.name}]

  div(style='margin-left:20px;margin-top:20px')
    h4 Copies
    hr
    p
      a(href=release.url+'/delete') Delete release
    p
      a(href=release.url+'/update') Update release